body {
    background-color: #cccccc;
    font-family: sans-serif;
    margin: 0;
}


.header-container {
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    width: 100%;
    margin: 0;
    }

    .header-container ul {
        padding: 0;
        margin: 0;
        display: flex; 
        justify-content: center;
        align-items: center;

    }

    .header-container ul li {
        list-style: none;
        text-align: center;
        margin: 0;
        width: auto;
        line-height: 60px;
    }

     .header-container ul li a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
      }
      
      .header-container ul li a:hover {
        text-decoration: none;
        color: #000000;
      } 


      h2 {
        text-align: center;
      }


      footer {
        background-color: #d9043d;
        padding: 1rem;
        color: #FFFFFF;
        text-align: center;
      }



#gallery-container {
    display: grid;
    gap: 10px;
}

#gallery-container figure   {
    background-color: #FFFFFF;
    padding: 5%;
}

#gallery-container figure img {

max-width: 100%;
}

#gallery-container img {
    display: block;
    max-width: 650px;
    margin: 0 auto;
    border-bottom: solid 10px; 
    border-color: #97bf04

   
}


@media screen and (min-width: 1001px) {
    #gallery-container {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery-container figure:last-child
    {
        grid-column: span 2;
    }

    .header-container ul li {
        list-style: none;
        text-align: center;
        background-color: #d9043d;
        margin: 0;
        width: 100%;
        line-height: 60px;
      }

    }



@media screen and (min-width: 769px) and (max-width: 1000px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    #gallery-container figure:last-child
    {
        grid-column: span 2;
    }

    .header-container ul li {
        list-style: none;
        text-align: center;
        background-color: #d9043d;
        margin: 0;
        width: 100%;
        line-height: 60px;
      }

}

@media screen and (max-width: 768px) {
#gallery-container {
   display: grid;
   grid-template-columns: 1fr;
  
}

#gallery-container figure:last-child
{
    grid-column: span 1; }

.header-container ul {
    flex-direction: column;
    padding-bottom: 2rem;
}

.header-container ul li {
    list-style: none;
    text-align: center;
    background-color: #d9043d;
    margin: 0;
    width: 95%;
    line-height: 60px;
    border: solid #97bf04;
    border-width: 2px;
    gap: 5px;
    
  }

  .header-container nav ul li
  {
    margin: 1rem;
  }
}

